body * {
    /* border: 2px solid blue; */
}

li {
    list-style-type: none;
}

body {
    height: 5200px;
    display: flex;
    justify-content: center;
    margin: 0;
}

/*HEADER*/
header {
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 1;
}

header > div, header > nav {
    position: relative;
    width: 20%;
    height: 40%;
    display: inline-block;
    margin-top: 10px;
}

.menu {
    margin: 10px auto;
    text-align: center;
}

nav ul {
    position: relative;
    margin: 2px auto;
    display: flex;  
    justify-content: space-between;
}

.logo-container {
    margin: 10px 0;
    float: left;
}

.logo-container h3 {
    position: relative;
    text-align: right;
    margin: auto;
    letter-spacing: 2px;
}

.cred-container {
    float: right;
    display: flex;
}

.cred-container > button {
    margin: 5px;
}

/*MAIN*/

.main {
    position: relative;
    width: 70%;
    height: 400px;
    margin: 108px auto;
    display: flex;
}

.main-content h2 {
    font-size: 44px;
}

.main-content p{
    font-size: 18px;
}

.main-content .main-links{
    margin-top: 30px;
}

.main-content {
    margin-top: 2%;
    width: 40%;
    height: 80%;
}

.main-image {
    margin-top: 2%;
    width: 40%;
    height: 80%;    
    margin-left: 20%;
    border: 2px solid pink;
}

/*CONTENT*/

.content {
    position: absolute;
    width: 90%;
    height: 500px;
    margin: 600px auto;
    align-content: center;
}
.content > * {
    position: relative;
    width: 100%;
    height: 25%;
}
.content h1 {
    font-size: 34px;
    width: 30%;
    margin: 0 auto;
    height: 80px;
    text-align: center;
}

.content-nav {
    height: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.content-nav li {
   height: 100%;
   width: 20%;
}

.content button {
    margin-top: 40px;
}